# Dataset files (too large for Git)
data/olist/*.csv

# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# JDBC driver
batch/jars/

# Hadoop winutils (Windows only)
hadoop/

# dbt
dbt/ecommerce_dbt/target/
dbt/ecommerce_dbt/dbt_packages/
dbt/ecommerce_dbt/logs/

# Airflow
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py

# Streaming
streaming/checkpoints/
bad_records/*.json
logs/*.log

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Great Expectations
great_expectations/uncommitted/
great_expectations/checkpoints/
great_expectations/.ge_store_backend_id

# Google Cloud
*.json.key
service-account-*.json

